body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 80px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: fixed;
    top: 0;
    width: 80%;
    background-color: #ffffff;
    z-index: 1000;
}
.header .logo {
    font-family: cursive;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}
.header nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 15px;
    text-decoration: none;
    color: #6C757D;
    font-weight: 600;
}
.header nav a.active {
    color: #FFA24C;
}

/*contact*/

.contact {
    margin-top: 80px;
    margin-left: 130px;
    width: 800px;
    height: 450px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-container {
    padding-right: 10px;
    width: 50%;
    height: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture img {
    max-width: 100%; 
    height: auto;  
}

.contact-form-container {
    height: 90%;
    width: 300px;
}

.contact-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.form-header {
    font-family: cursive;
    font-size: 2em;
    font-weight: 700;
    align-self: flex-start;
}

.email-input {
    font-family: 'Times New Roman', Times, serif;
    border: none;
    outline: none;
    background: #eee;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 100%;
}

.message {
    font-family: 'Times New Roman', Times, serif;
    border: none;
    outline: none;
    resize: none;
    background: #eee;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 100%;
}

.submit {
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 20px;
    background: #000000;
    font-size: 100%;
    font-weight: 600;
    border-radius: 6px;
    transition: transform 300ms 0s cubic-bezier(0, 0.23, 0.29, 2.45);
}

.submit:hover {
    cursor: pointer;
    background: #FFA24C;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}